PREGUNTAS

In [66]:
import pandas as pd
import numpy as np
import io as io
import requests as r
pd.set_option('display.float_format', lambda x: '%.2f' % x) # truco para notación cientifica

1. ¿Está su API actualizada? ,¿cuántos productos faltan? JC

2. ¿Cuál es la diferencia media de sus precios vs los precios de Carrefour?

3. ¿Cómo me posiciono según precio y variedad de productos en las principales categorías con respecto a todas las marcas?

4. ¿Cuál es el producto en el que somos más caros ?, ¿y el más barato?

5. Actualmente queremos destinar dinero para igualar los mejores precios de la competencia. ¿Cuál es la cantidad total a invertir?

6. ¿Hay algún precio de nuestros productos que no siga la tendencia de la competencia, ¿por qué podría ser?

7. ¿Hay algún precio de nuestros productos que no siga la tendencia de la competencia, ¿por qué podría ser?

8. ¿Cuántas marcas blancas tiene mi competencia? , ¿estamos mejor o peor posicionados según precio y variedad?

9. ¿Hay alguna categoría que quitarías o añadirías?, ¿por qué?.

10. Estamos pensando en abrir una nueva vertical llamada Mercadona eat&go. Su objetivo es que la gente pueda comprar y comer los productos en una sala acondicionada dentro de nuestro establecimiento. Te compartimos un csv con las compras de algunos usuarios en vera qno. ¿Qué tipo de alimentos recomendarías y por qué?

4. ¿Cuál es el producto en el que somos más caros ?, ¿y el más barato?
El producto más caro es Carabinero congelado.
El producto más barato son la unidad de Bolitas de coco Antiu Xixona.

#ID,Name
#M1,Mercadona
#M2,Carrefour
#M3,Dia

In [67]:
dfraw= pd.read_csv(r"C:\Users\msanf\Desktop\Fuentes de datos\raw_data_scrapper\raw_data.csv")

In [68]:
dfraw.head(3)

,category,name,description,price,reference_price,reference_unit,insert_date,product_id,id_reference_supermarket
0,perfumeria_e_higiene_cuidado_facial_protector_...,LIPOSAN protector labial soft rose envase 1 ud,NaN,2.39,2.39,ud,2021-03-06 00:00:00,45d83ce427cf60c02e1e6f3d28f58ed6,M3
1,perfumeria_e_higiene_higiene_intima_compresas,AUSONIA compresas normal alas bolsa 14 uds,NaN,2.49,0.18,ud,2021-03-06 00:00:00,3fa10738dcbe5f09646eaf39a46a2871,M3
2,perfumeria_e_higiene_higiene_intima_compresas,EVAX Cottonlike compresa super plus con alas b...,NaN,2.79,0.23,ud,2021-03-06 00:00:00,5f5bc0a466375a16d01a6aed6c66e413,M3

In [69]:
dfraw.describe()

           price  reference_price
count 8223974.00       8223986.00
mean        4.75            19.35
std        48.90           626.79
min         0.08             0.00
25%         1.39             1.80
50%         2.20             4.56
75%         3.99             9.92
max      7915.05        163333.33

In [70]:
dfraw.sort_values(by='price', ascending=False)

,category,name,description,price,reference_price,reference_unit,insert_date,product_id,id_reference_supermarket
1811852,congelados_marisco,Carabinero congelado,Granel,7915.05,79.95,kg,2021-06-26 00:00:00,aa8de147e283c68f9b81ba55ef8bab49,M1
2031938,congelados_marisco,Carabinero congelado,Granel,7915.05,79.95,kg,2021-07-11 00:00:00,aa8de147e283c68f9b81ba55ef8bab49,M1
1793873,congelados_marisco,Carabinero congelado,Granel,7915.05,79.95,kg,2021-06-25 00:00:00,aa8de147e283c68f9b81ba55ef8bab49,M1
2444898,congelados_marisco,Carabinero congelado,Granel,7915.05,79.95,kg,2021-08-08 00:00:00,aa8de147e283c68f9b81ba55ef8bab49,M1
1337397,congelados_marisco,Carabinero congelado,Granel,7915.05,79.95,kg,2021-05-25 00:00:00,aa8de147e283c68f9b81ba55ef8bab49,M1
...,...,...,...,...,...,...,...,...,...
7454632,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,NaN,25.99,l,2022-07-22 00:00:00,c09040febafa3b18253fa796df590548,M2
7470900,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,NaN,25.99,l,2022-07-23 00:00:00,c09040febafa3b18253fa796df590548,M2
7494688,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,NaN,25.99,l,2022-07-24 00:00:00,c09040febafa3b18253fa796df590548,M2
7503013,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,NaN,25.99,l,2022-07-25 00:00:00,c09040febafa3b18253fa796df590548,M2
7519678,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,NaN,25.99,l,2022-07-26 00:00:00,c09040febafa3b18253fa796df590548,M2

In [71]:
dfraw.sort_values(by='price', ascending=True)

,category,name,description,price,reference_price,reference_unit,insert_date,product_id,id_reference_supermarket
3855368,panaderia_y_pasteleria_bolleria_envasada,Bolitas de coco Antiu Xixona,NaN,0.08,4.00,kg,2021-11-15 00:00:00,fa55a2b65f98bed89d6ae39489ba050b,M1
4084149,panaderia_y_pasteleria_bolleria_envasada,Bolitas de coco Antiu Xixona,NaN,0.08,4.00,kg,2021-12-01 00:00:00,fa55a2b65f98bed89d6ae39489ba050b,M1
4604012,panaderia_y_pasteleria_bolleria_envasada,Bolitas de coco Antiu Xixona,NaN,0.08,4.00,kg,2022-01-05 00:00:00,fa55a2b65f98bed89d6ae39489ba050b,M1
4592867,panaderia_y_pasteleria_bolleria_envasada,Bolitas de coco Antiu Xixona,NaN,0.08,4.00,kg,2022-01-04 00:00:00,fa55a2b65f98bed89d6ae39489ba050b,M1
4709837,dulces_de_navidad_turrones,DIA DULCE NOEL almendra rellena surtido 10 gr,NaN,0.08,7.74,kg,2022-01-12 00:00:00,dc24634b1094530787e63d6c1d7f2363,M3
...,...,...,...,...,...,...,...,...,...
7454632,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,NaN,25.99,l,2022-07-22 00:00:00,c09040febafa3b18253fa796df590548,M2
7470900,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,NaN,25.99,l,2022-07-23 00:00:00,c09040febafa3b18253fa796df590548,M2
7494688,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,NaN,25.99,l,2022-07-24 00:00:00,c09040febafa3b18253fa796df590548,M2
7503013,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,NaN,25.99,l,2022-07-25 00:00:00,c09040febafa3b18253fa796df590548,M2
7519678,bebidas_alcoholes_todos_los_alcoholes,Whisky Jameson irlandés 70 cl.,NaN,NaN,25.99,l,2022-07-26 00:00:00,c09040febafa3b18253fa796df590548,M2

In [89]:
dfraw.shape

(8223992, 9)

In [72]:
#dfs_c=Super_competitors.csv

#dfs_c= pd.read_csv(r"C:\Users\msanf\Desktop\Fuentes de datos\Super_competitors.csv")
dfs_c= pd.read_excel(r"C:\Users\msanf\Desktop\Fuentes de datos\Super_competitors_excel.xlsx")

In [73]:
dfs_c.head()

        ID,Name
0  M1,Mercadona
1  M2,Carrefour
2        M3,Dia

In [74]:
dfs_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID,Name  3 non-null      object
dtypes: object(1)
memory usage: 152.0+ bytes

In [75]:
dfs_c.columns.values.tolist()

['ID,Name']

In [76]:
dfs_c= dfs_c.rename(columns= {"ID,Name" : "Supermercado"})

In [77]:
dfs_c.head()

   Supermercado
0  M1,Mercadona
1  M2,Carrefour
2        M3,Dia

In [78]:
dfs_c.dtypes

Supermercado    object
dtype: object

In [79]:
dfs_c.replace(',', '')

   Supermercado
0  M1,Mercadona
1  M2,Carrefour
2        M3,Dia

In [57]:
df_merged_raw_s_c = dfraw.merge(dfs_c, how = "left" , left_on = "id_reference_supermarket" , right_on = "Supermercado" )

In [58]:
df_merged_raw_s_c.head(5)

,category,name,description,price,reference_price,reference_unit,insert_date,product_id,id_reference_supermarket,Supermercado
0,perfumeria_e_higiene_cuidado_facial_protector_...,LIPOSAN protector labial soft rose envase 1 ud,NaN,2.39,2.39,ud,2021-03-06 00:00:00,45d83ce427cf60c02e1e6f3d28f58ed6,M3,NaN
1,perfumeria_e_higiene_higiene_intima_compresas,AUSONIA compresas normal alas bolsa 14 uds,NaN,2.49,0.18,ud,2021-03-06 00:00:00,3fa10738dcbe5f09646eaf39a46a2871,M3,NaN
2,perfumeria_e_higiene_higiene_intima_compresas,EVAX Cottonlike compresa super plus con alas b...,NaN,2.79,0.23,ud,2021-03-06 00:00:00,5f5bc0a466375a16d01a6aed6c66e413,M3,NaN
3,perfumeria_e_higiene_higiene_bucal_productos_p...,POLIDENT tabletas limpiadoras para prótesis de...,NaN,7.95,0.11,ud,2021-03-06 00:00:00,0a1e56be01f8766d0bb87f3e42fd2abf,M3,NaN
4,perfumeria_e_higiene_higiene_bucal_productos_p...,IWHITE kit de blanquamiento dental profesional...,NaN,36.99,3.70,ud,2021-03-06 00:00:00,b150c5e27da5c91d13a5b570c9b3efd3,M3,NaN

In [82]:
#dfdata=datamarket_productos_de_supermercados.csv
#dfdata= pd.read_csv(r"C:\Users\msanf\Desktop\Fuentes de datos\datamarket_productos_de_supermercados.csv")

In [85]:
#dfdata.head(8)

,url,supermarket,category,name,description,price,reference_price,reference_unit,insert_date,product_id
0,https://tienda.mercadona.es/product/2839/pinch...,mercadona-es,carne_cerdo,Pinchos de cerdo sin varilla,Bandeja,4.21,8.25,kg,2021-03-06 00:00:00,7f6df1708b115b05dc967ba60ec98c5d
1,https://tienda.mercadona.es/product/4917/solom...,mercadona-es,carne_cerdo,Solomillo de cerdo ibérico,Bandeja,6.62,17.90,kg,2021-03-06 00:00:00,d62e15630fea2a531a12770908334e22
2,https://tienda.mercadona.es/product/2858/sesos...,mercadona-es,carne_cerdo,Sesos de cerdo,Bandeja,1.80,13.85,kg,2021-03-06 00:00:00,1188018d2c1636c32df415dab9d1f283
3,https://tienda.mercadona.es/product/4919/secre...,mercadona-es,carne_cerdo,Secreto de cerdo ibérico,Bandeja,4.04,16.14,kg,2021-03-06 00:00:00,8ed31ae2560067cd9399e780d0cb0853
4,https://tienda.mercadona.es/product/1886/lomo-...,mercadona-es,carne_cerdo,Lomo de cerdo ibérico adobado,Paquete,3.74,17.00,kg,2021-03-06 00:00:00,c61d128e6da74f829293b99b3c46df35
5,https://tienda.mercadona.es/product/4915/presa...,mercadona-es,carne_cerdo,Presa de cerdo ibérico,Bandeja,4.94,20.60,kg,2021-03-06 00:00:00,a32f0607f6f01055712261155da163e6
6,https://tienda.mercadona.es/product/2678/libri...,mercadona-es,carne_cerdo,Libritos lomo de cerdo,Bandeja,2.68,5.95,kg,2021-03-06 00:00:00,07bf4f6bd492435b40a48e3b61cd71d6
7,https://tienda.mercadona.es/product/3557/costi...,mercadona-es,carne_cerdo,Costilla de cerdo carnosa,Paquete,3.50,5.00,kg,2021-03-06 00:00:00,13edf74efb9ab0c08f1c424d29e80d50

In [87]:
#dfsdata.shape

(9054122, 10)

In [90]:
#dfcompras=df_compras_100000.csv
dfcompras= pd.read_csv(r"C:\Users\msanf\Desktop\Fuentes de datos\df_compras_100000.csv")

In [91]:
dfcompras.head(5)

   id_compra fecha_compra  id_cliente                       id_producto
0          0   2022-06-02          19  f65b04468e58cc9f604cb097236872fe
1          1   2022-08-02          27  ce43ded19a577ac0aaa1e3b0cf2b5f1a
2          2   2022-07-09          20  0a56c32642021feae8049bbb840a6153
3          3   2022-08-18           5  2f8af1c55f93e0b3e4a0b03e5e0f28b4
4          4   2022-06-27           3  d7382d624ca08e4459996938e65935e8

In [92]:
dfcompras.shape

(100000, 4)